.leftList{
    -fx-background-color:#F4503E;
}
.leftList > .viewport{
    -fx-background-color:transparent;
}
.bottom-controller{
}
.musicList, .leftList,.search-box{
    -fx-background-insets:0;
}
.search-bg{
    -fx-background-color:#f0f0f0;
    -fx-background-radius:20;
}
.search-box{
    -fx-background-color:transparent;
}
.top-bar{
    -fx-background-color:white;
}
.left-item{
    -fx-padding:10 20 10 20;
}
.left-item:hover{
    -fx-background-color:#ffffff28;
    -fx-background-radius:6;
}
.left-label{
    -fx-text-fill:white;
}
.slider .track{
    -fx-background-color:linear-gradient(to right,#F4503E 20%,#B2B2B2 20%);
}